@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*------ reset -----*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --primary-color: #343444;
    --dark-color: #030303;
    --accent-color: #d57d00;
    --light-color: #f7f7f7;
    --secondary-color: #5142fa;
    --tertiary-color: #14141f;

    --border-raduis-tiny: 0.12rem;
    --border-raduis-xs: 0.25rem;
    --border-raduis-sm: 0.5rem;
    --border-raduis-md: 1rem;
    --border-raduis-lg: 1.5rem;
    --border-raduis-xl: 2rem;
    --border-raduis-2xl: 2.5rem;
    --border-raduis-3xl: 3rem;

    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 4rem;
    --font-size-4xl: 6rem;
    --font-size-5xl: 8rem;

}

/* px , rem , em, pt, percent */
html {
    font-size: 62.5%;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    color: var(--light-color);
    direction: ltr;
    font-family: 'Urbanist', sans-serif;
}

button,
span,
input[type="text"]::placeholder {
    font-family: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

/*------ background -----*/

.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;
    position: relative;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: backgroundAnimation 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes backgroundAnimation {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*------ form -----*/

.form {
    width: 45%;
    margin: 6rem auto;
    box-shadow: 5px 5px 30px #bebebe, 0px 0px 15px #ffffff;
    padding: 3rem 7rem;
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    border-radius: var(--border-raduis-sm);}

.form h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.input {
    position: relative;
}

.username {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 0.2rem solid rgb(137 137 137 / 25%);
    padding: calc(1rem * 1.5) 1.5rem;
    color: rgb(255 255 255 / 45%);
    background: transparent;
    border-radius: var(--border-raduis-sm);
    font-size: 1.6rem;font-family: 'Urbanist';}

.username__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(1rem * 0.75) calc(1rem * .5);
    margin: calc(1rem * 0.75 + 3px) calc(1rem * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: transparent;
    transition: transform 0.2s ease-in;
    line-height: 1.2;
    color: rgb(255 255 255 / 34%);
}

.username:focus {
    color: #fff;
}

.username:focus-visible {
    outline: none;
}

.username:focus + .username__label{
    transform: translate(.25rem, -65%) scale(.8);
    font-size: 2rem;
    color: #fff;
    background: #4e54c8
}

.username:valid + .username__label {
    transform: translate(.25rem, -65%) scale(.8);
    font-size: 2rem;
    color: #fff;
    background: #4e54c8
}

#btn-search {
    width: 100%;
    height: 4.3rem;
    border-radius: var(--border-raduis-sm);
    font-weight: 700;
    font-size: 1.4rem;
    color: #000;
    background-color: #eee;
    border: none;
    margin: 2rem auto;
    transition: 0.4s;
}

#btn-search:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--light-color);
    -webkit-box-shadow: inset 0 0 0 0.2rem var(--light-color);
    -ms-box-shadow: inset 0 0 0 0.2rem var(--light-color);
    -o-box-shadow: inset 0 0 0 0.2rem var(--light-color);
    color: var(--light-color);
}

.card {
    width: 75%;
    margin: 0 auto;
    position: absolute;
    /* top: 90%; */
    bottom: 10%;
    left: 0;right: 0;
    background: #f9f7f7;
    /* box-shadow: 5px 5px 10px #bebebe, 0px 0px 15px #eee; */
    border-radius: var(--border-raduis-sm);
}

.card__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;justify-content: space-between;}

.card__left {
    display: flex;
    padding: 3rem 5rem;
}

.card__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img img {
    width: 15rem;
    border-radius: 50%;
    transition: 0.6s
}

.card__img img:hover {
    border-radius: var(--border-raduis-lg);}

.card__content {
    padding: 2rem;
    color: #000;
    display: flex;flex-direction: column;gap: 0.5rem;font-size: 1.7rem;}

.card__follow {
    display: flex;
    gap: 1.5rem;
    color: #b1b1b1
}

.card__follow span {
    color: #e91e63;
    padding-right: 0.2rem;
    font-weight: 700;
}

.card__name {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.card__username a {
    color: #b1b1b1;
    transition: 0.4s
}

.card__username a:hover {
    color: #000
}

.card__right {
    display: flex;
    gap: 0.5rem;
    height: 3rem;align-items: center;justify-content: center;padding: 3rem 5rem;}

.card__right--one {
    padding: 1rem;
    border-radius: var(--border-raduis-sm);
    background-color: #eee;
    color: var(--dark-color);}

.card__right--two {
    padding: 1rem;
    border-radius: var(--border-raduis-sm);
    background-color: aqua;
    color: var(--dark-color);
}

